[submodule "minitalk"]
	path = minitalk
	url = https://github.com/amiguelmoreno/minitalk
[submodule "Born2beroot"]
	path = Born2beroot
	url = https://github.com/amiguelmoreno/Born2beroot
[submodule "Libft"]
	path = Libft
	url = https://github.com/amiguelmoreno/Libft
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/amiguelmoreno/get_next_line
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/amiguelmoreno/ft_printf
[submodule "push-swap"]
	path = push-swap
	url = https://github.com/amiguelmoreno/push-swap
[submodule "so_long"]
	path = so_long
	url = https://github.com/amiguelmoreno/so_long
